body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


/** Header secton **/


.header_container{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
}

.header_image img {
    width: 550px;
    height: auto;
    border-radius: 25px;
    border: solid 2px black;
    box-shadow: 5px 5px rgb(54, 52, 52);
    margin-bottom: 75px;
}

.header_logo img{
    width: 80px;
    height: auto;
}


.header_links{
    display: flex;
    gap: 25px;
    font-size: 18px;
    align-items: center;
}

.header_links a{
    text-decoration: none;
}

a:visited{
    color: white;
}

a:active{
    color: gray;
}


.nav_bar{
    display: flex;
    justify-content: space-around;

    
}

.header{
    display: flex;
    justify-content: center;
    margin-top: 48px;
    gap: 60px;
}

.header_button{
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px black;
    color: white;
    padding: 8px 13px 8px 13px;
    width: 110px;
    font-weight: 600;
    margin-top: 30px;
}

.header_button:active{
    border: solid 1px black;
    box-shadow: 1px 1px black;
}



/** Main boi section **/

.main_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.boxes{
    display: flex;
    gap: 38px;
    justify-content: center;
    align-items: center;
    
}

.boxes img{
    width: 200px;
    height: 200px;
    border: solid 4px #3882f6;
    border-radius: 15px;
    margin-top: 20px;
}

.boxes p{
    text-align: center;
    font-size: 16px;
}


/** Quote section **/

.quote{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 0 200px;
}

.quote p{
    font-size: 28px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

.quote b{
    padding-bottom: 20px;
    padding-right: 10px;
    text-align: right;
}


/** Action bar section **/

.action_content{
    display: flex;
    color: white;
    justify-content: center;
}

.action_bar{
    display: flex;
    background-color: #3882f6;
    flex-direction: column;
}

.button{
    background-color: #3882f6;
    color: white;
}

.button a{
    color: white;
    text-decoration: none;
}